body {
    background-image: url(./images/download.jfif);
    background-repeat: 1;
    background-size: 100%;
}
h1 {
    color: pink;
    border-style: solid;
    background-color: gray;
    border-color: gray;
    border-width: 5px;
}
    
img {
    width: 200px;
    height: 200px;
    border: solid;
    border-radius: 45px;
    background-color: #00ccff;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#grid {
    /* border: solid;
    border-width: 10px; */
}